/** Tailwind **/
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "./variables.css";
@import "./headings.css";
@import "./base.css";
@import "./datepicker.css";
@import "./pwa.css";
@import "./forms.css";
@import "./fonts.css";
@import "./scrollbars.css";
@import "./skeletons.css";
@import "./slider.css";
@import "./toasts.css";
@import "./tooltips.css";

@import "./coins.css";
@import "./focus-visible.css";

@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape) {
	html {
		transform: rotate(-90deg);
		transform-origin: left top;
		width: 100vh;
		overflow-x: hidden;
		position: absolute;
		top: 100%;
		left: 0;
	}
}
