/** Tailwind **/
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "./variables.css";
@import "./headings.css";
@import "./base.css";
@import "./datepicker.css";
@import "./pwa.css";
@import "./forms.css";
@import "./fonts.css";
@import "./scrollbars.css";
@import "./skeletons.css";
@import "./toasts.css";
@import "./tooltips.css";

@import "./coins.css";
@import "./focus-visible.css";
@import "./zendesk.css";
@import "slick-carousel/slick/slick.css";
