html {
	height: -webkit-fill-available;
}

body {
	-webkit-tap-highlight-color: transparent;
	@apply font-sans text-base antialiased min-h-screen flex flex-col;
	/* mobile viewport bug fix */
	min-height: -webkit-fill-available;
}

#root {
	@apply flex flex-col flex-1;
}
main {
	@apply bg-theme-background text-theme-text flex-1;
}

.link {
	@apply cursor-pointer transition-colors duration-100 ease-linear text-theme-primary-400 dark:text-theme-secondary-600 ;
}

.link:hover {
	@apply text-theme-primary-700 dark:text-white;
}

.important\:bottom-8 {
	bottom: 2rem !important;
}

.important\:z-0 {
	z-index: 0 !important;
}

.important\:block {
	display: block !important;
}

.important\:px-0 {
	padding-left: 0 !important;
	padding-right: 0 !important;
}

.no-ligatures {
	font-feature-settings: "liga" off, "calt" off;
}

@layer utilities {
	.overflow-overlay {
		overflow: overlay;
	}

	.filter-grayscale {
		filter: grayscale(1);
	}
}

.welcome-slider-dots .slick-active > button {
	@apply bg-theme-navy-500 border-transparent hover:bg-theme-navy-500
}

.with-x-padding > table > tbody > tr:not(:last-child) td:first-child::after {
	@apply content-[''] w-6 block bg-theme-background h-[5px] absolute left-0
}

.with-x-padding > table > tbody > tr:not(:last-child) td:last-child::after {
	@apply content-[''] w-6 block bg-theme-background h-[5px] absolute right-0
}

.with-x-padding > table > tbody > tr:not(:last-child):hover td:first-child::after {
	@apply content-[''] w-6 block bg-theme-background h-[5px] absolute left-0 -bottom-[4px]
}

.with-x-padding > table > tbody > tr:not(:last-child):hover td:last-child::after {
	@apply content-[''] w-6 block bg-theme-background h-[5px] absolute right-0 -bottom-[4px]
}

.custom-checkbox:checked:disabled {
	background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='%23${var(--theme-color-secondary-300)}' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e");
  }
  
  @media (prefers-color-scheme: dark) {
	.custom-checkbox:checked:disabled {
	  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='%23${var(--theme-color-secondary-600)}' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e");
	}
  }

  .custom-button-wrapper button {
	@apply w-10 h-10 sm:w-11 sm:h-11 overflow-hidden rounded text-theme-secondary-700 dark:text-theme-secondary-600 [&:not(:disabled)]:hover:text-theme-primary-600 [&:not(:disabled)]:hover:bg-theme-primary-100 [&:not(:disabled)]:dark:hover:bg-theme-secondary-800 [&:not(:disabled)]:dark:hover:text-theme-secondary-100;
  }

  .custom-nav-wrapper li a {
	@apply border-t-2 border-t-transparent border-b-2 border-b-transparent hover:border-b-theme-primary-600 hover:text-theme-text
  }

  .custom-nav-wrapper li a.active {
	@apply border-b-theme-primary-600 text-theme-text
  }
  
  @supports (padding-bottom: env(safe-area-inset-bottom)) {
	.padding-bottom-safe {
	  padding-bottom: env(safe-area-inset-bottom);
	}
  }

  .table-wrapper table {
	@apply m-0 p-0 w-full border-none;
  }

  .table-wrapper table thead th:not(:first-of-type)::after {
	@apply content-[""] h-1/2 absolute left-0 top-1/4 border-l border-[inherit]
  }

  .table-wrapper table thead th:not(:first-of-type).no-border::after {
	@apply border-transparent
  }

  .table-row-selected:hover td {
	@apply bg-theme-success-100
  }

  .table-row-unselected:hover td {
	@apply dark:bg-theme-success-900
  }

  .table-row:last-of-type td:first-child {
	@apply rounded-bl-sm
  }

  .table-row:last-of-type td:last-child {
	@apply rounded-br-sm
  }

  .recipient-list thead {
	@apply hidden
  }

  .input-button.active {
	@apply border-theme-primary-600 bg-theme-primary-50 dark:bg-theme-primary-900 dark:text-white
  }

  .tooltip-wrapper {
	@apply flex items-center bg-theme-secondary-900 dark:bg-theme-secondary-800 rounded px-3 py-2
  }

  .tooltip-wrapper::after {
	@apply content-[""] absolute block w-0 h-0 -bottom-2 border-l-8 border-l-transparent border-r-8 border-r-transparent left-[calc(50%-8px)]
  }

  .tooltip-wrapper.left::after {
	@apply right-auto left-5
  }

  .tooltip-wrapper.right::after {
	@apply left-auto right-5
  }

  .tooltip-wrapper::after {
	@apply border-t-8 border-t-theme-secondary-900 dark:border-t-theme-secondary-800
  }

  .upload-button-wrapper button {
	@apply h-full w-full focus:ring-0
  }

  .upload-button-wrapper button:not(:focus):hover:enabled {
	@apply bg-theme-secondary-900 dark:bg-theme-secondary-600 opacity-85;
  }

  .profile-image:hover .upload-button-overlay {
	@apply opacity-100
  }

  .toggle-input:checked ~ .toggle-handle .handle-inner {
	@apply translate-x-full bg-theme-primary-600
  }

  .toggle-input:hover ~ .toggle-handle .handle-inner {
	@apply shadow-outline
  }

  .toggle-input:focus ~ .toggle-handle .handle-inner {
	@apply shadow-outline
  }

  .select-options-list {
	@apply top-full py-2.5 sm:py-6 overflow-y-auto max-h-64 bg-theme-background dark:bg-theme-secondary-800 rounded-lg shadow-xl outline-none
  }

  .select-options-list .select-list-option-group:not(:last-child) {
	@apply mb-3
  }

  .select-options-list .select-list-option-head,
  .select-options-list .select-list-option {
	@apply relative px-4 sm:px-10 border-0 
  }
 
  .select-options-list .select-list-option-head__label {
	@apply text-xs font-bold text-theme-secondary-500 dark:text-theme-secondary-700 pb-1 uppercase select-none;
  }
 
  .select-options-list .select-list-option-head + .select-list-option .select-list-option__label {
	@apply transition-colors duration-200 border-t !border-transparent;
  }
 
  .select-options-list .select-list-option {
	@apply text-theme-secondary-900 dark:text-theme-secondary-200 cursor-pointer transition-colors duration-200;
  }
 
  .select-options-list .select-list-option__label {
	@apply py-4;
  }
 
  .select-options-list .select-list-option:not(:first-child) .select-list-option__label {
	@apply transition-colors duration-200 border-t border-theme-secondary-300 dark:border-theme-secondary-700;
  }
 
  .select-options-list .select-list-option.is-highlighted {
	@apply bg-theme-secondary-100 dark:bg-theme-secondary-900 z-10;
  }
 
  .select-options-list .select-list-option.is-highlighted .select-list-option__label {
	@apply border-theme-secondary-100 dark:border-theme-secondary-900;
  }
 
  .select-options-list .select-list-option.is-highlighted + .select-list-option .select-list-option__label {
	@apply border-transparent;
  }

  .select-options-list .select-list-option.is-selected {
    @apply bg-theme-primary-50 dark:bg-black text-theme-primary-600 font-semibold z-20;
  }

  .select-options-list .select-list-option.is-selected .select-list-option__label {
    @apply border-theme-primary-50 dark:border-black;
  }

  .select-options-list .select-list-option.is-selected:before {
    @apply content-[''] block absolute w-1 h-full inset-y-0 left-0 bg-theme-primary-600;
  }

  .select-options-list .select-list-option.is-selected + .select-list-option .select-list-option__label {
    @apply border-transparent;
  }

  .select-options-list .select-list-option.is-empty {
    @apply cursor-default;
  }

  .tab-list > .tab-button {
	@apply relative font-semibold border-t-2 border-b-2 border-transparent text-theme-secondary-text transition-colors ease-in-out duration-300 focus:outline-none focus:text-theme-text hover:text-theme-text
  }

  .tab-list > .tab-button[aria-selected="true"] {
	@apply text-theme-text border-b-theme-primary-600
  }

  .tab-list > .tab-button + .tab-button::before {
	@apply content-[''] h-4 w-px absolute -left-6 top-1/2 -translate-y-1/2 block
  }

  .add-recipient-wrapper .select-buttons div:first-of-type button {
	@apply rounded-tr-none rounded-br-none
  }

  .add-recipient-wrapper .select-buttons div:last-child button {
	@apply rounded-tl-none rounded-bl-none
  }

  .add-recipient-wrapper .questionmark svg {
	@apply fill-theme-primary-100
  }

  .add-recipient-wrapper .questionmark:hover svg {
	@apply fill-theme-primary-600
  }
