html {
	height: -webkit-fill-available;
}

body {
	-webkit-tap-highlight-color: transparent;
	@apply flex min-h-screen flex-col font-sans text-base antialiased;
	/* mobile viewport bug fix */
	min-height: -webkit-fill-available;
}

#root {
	@apply flex flex-1 flex-col;
}

main {
	@apply bg-theme-background text-theme-text flex-1;
}

.link {
	@apply text-theme-primary-400 dark:text-theme-secondary-600 dim:text-theme-dim-50 cursor-pointer transition-colors duration-100 ease-linear;
}

.link:hover {
	@apply text-theme-primary-700 dim:text-white dark:text-white;
}

.important\:bottom-8 {
	bottom: 2rem !important;
}

.important\:z-0 {
	z-index: 0 !important;
}

.important\:block {
	display: block !important;
}

.important\:px-0 {
	padding-left: 0 !important;
	padding-right: 0 !important;
}

.no-ligatures {
	font-feature-settings:
		"liga" off,
		"calt" off;
}

.welcome-slider-dots .slick-active > button {
	@apply bg-theme-navy-500 hover:bg-theme-navy-500 dim:bg-theme-dim-navy-600 dim:border-theme-dim-navy-600 border-transparent;
}

.with-x-padding > table > tbody > tr:not(:last-child) td:first-child::after {
	@apply bg-theme-background absolute left-0 block h-[5px] w-6 content-[''];
}

.with-x-padding > table > tbody > tr:not(:last-child) td:last-child::after {
	@apply bg-theme-background absolute right-0 block h-[5px] w-6 content-[''];
}

.with-x-padding > table > tbody > tr:not(:last-child):hover td:first-child::after {
	@apply bg-theme-background absolute -bottom-[4px] left-0 block h-[5px] w-6 content-[''];
}

.with-x-padding > table > tbody > tr:not(:last-child):hover td:last-child::after {
	@apply bg-theme-background absolute right-0 -bottom-[4px] block h-[5px] w-6 content-[''];
}

.custom-checkbox:checked:disabled {
	background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='%23${var(--theme-color-secondary-300)}' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e");
}

@media (prefers-color-scheme: dark) {
	.custom-checkbox:checked:disabled {
		background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='%23${var(--theme-color-secondary-600)}' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e");
	}
}

@media (prefers-color-scheme: dim) {
	.custom-checkbox:checked:disabled {
		background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='%23${var(--theme-color-dim-600)}' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e");
	}
}

.custom-button-wrapper button {
	@apply text-theme-secondary-700 dark:text-theme-secondary-600 not-disabled:hover:bg-theme-primary-100 not-disabled:hover:text-theme-primary-600 dark:not-disabled:hover:bg-theme-secondary-800 dark:not-disabled:hover:text-theme-secondary-100 h-10 w-10 overflow-hidden rounded-sm sm:h-11 sm:w-11;
}

.custom-button-nav-wrapper {
	@apply h-7 w-7;
}

.custom-button-nav-wrapper button {
	@apply text-theme-secondary-700 dark:text-theme-dark-200 not-disabled:hover:bg-theme-primary-200 not-disabled:hover:text-theme-primary-700 dark:not-disabled:hover:bg-theme-dark-700 dark:not-disabled:hover:text-theme-dark-50 dim:text-theme-dim-200 dim-hover:text-theme-dim-50 dim-hover:bg-theme-dim-700 h-7 w-7 overflow-hidden rounded-sm p-0;
}

@supports (padding-bottom: env(safe-area-inset-bottom)) {
	.padding-bottom-safe {
		padding-bottom: env(safe-area-inset-bottom);
	}
}

.table-wrapper table {
	@apply m-0 w-full border-none p-0;
}

.table-wrapper table thead th:not(:first-of-type)::after {
	@apply absolute top-1/4 left-0 h-1/2 border-l border-[inherit] content-[""];
}

.table-wrapper table thead th:not(:first-of-type).no-border::after {
	@apply border-transparent;
}

.table-row-selected:hover td {
	@apply bg-theme-success-100 dark:bg-theme-success-900 dim:bg-theme-dim-700;
}

.table-row:last-of-type td:first-child {
	@apply rounded-bl-sm;
}

.table-row:last-of-type td:last-child {
	@apply rounded-br-sm;
}

.recipient-list thead {
	@apply hidden;
}

.input-button.active {
	@apply border-theme-primary-600 bg-theme-primary-50 dark:bg-theme-primary-900 dark:text-white;
}

.tooltip-wrapper {
	@apply bg-theme-secondary-900 dark:bg-theme-secondary-800 flex items-center rounded-sm px-3 py-2;
}

.tooltip-wrapper::after {
	@apply absolute -bottom-2 left-[calc(50%-8px)] block h-0 w-0 border-r-8 border-l-8 border-r-transparent border-l-transparent content-[""];
}

.tooltip-wrapper.left::after {
	@apply right-auto left-5;
}

.tooltip-wrapper.right::after {
	@apply right-5 left-auto;
}

.tooltip-wrapper::after {
	@apply border-t-theme-secondary-900 dark:border-t-theme-secondary-800 border-t-8;
}

.upload-button-wrapper button {
	@apply h-full w-full focus:ring-0;
}

.toggle-input:checked ~ .toggle-handle .handle-inner {
	@apply bg-theme-primary-600 translate-x-full;
}

.toggle-input:hover ~ .toggle-handle .handle-inner {
	@apply shadow-outline;
}

.toggle-input:focus ~ .toggle-handle .handle-inner {
	@apply shadow-outline;
}

.select-options-list {
	@apply dark:bg-theme-dark-900 dim:bg-theme-dim-900 top-full max-h-64 space-y-1 overflow-y-auto rounded-sm bg-white p-1 shadow-xl outline-hidden;
}

.select-options-list .select-list-option-group:not(:last-child) {
	@apply mb-3;
}

.select-options-list .select-list-option-head,
.select-options-list .select-list-option {
	@apply text-theme-secondary-700 dark:text-theme-dark-200 dim:text-theme-dim-200 relative rounded-lg border-0 px-5;
}

.select-options-list .select-list-option-head__label {
	@apply text-theme-secondary-500 dark:text-theme-secondary-700 dim:text-theme-dim-500 pb-1 text-xs font-bold uppercase select-none;
}

.select-options-list .select-list-option-head + .select-list-option .select-list-option__label {
	@apply border-t border-transparent! transition-colors duration-200;
}

.select-options-list .select-list-option {
	@apply text-theme-secondary-900 dark:text-theme-secondary-200 dim:text-theme-dim-200 cursor-pointer transition-colors duration-200;
}

.select-options-list .select-list-option__label {
	@apply py-4;
}

.select-options-list .select-list-option.is-highlighted {
	@apply bg-theme-secondary-200 dark:bg-theme-dark-700 dim:bg-theme-dim-700 z-10;
}
.select-options-list .select-list-option.is-disabled {
	/* @TODO: apply wip styles */
	@apply cursor-not-allowed;
}

.select-options-list .select-list-option.is-highlighted .select-list-option__label {
	@apply border-theme-secondary-100 dark:border-theme-secondary-900 dim:border-theme-dim-700 dim:text-theme-dim-50;
}

.select-options-list .select-list-option.is-highlighted + .select-list-option .select-list-option__label {
	@apply border-transparent;
}

.select-options-list .select-list-option.is-selected {
	@apply bg-theme-secondary-200 text-theme-primary-600 dark:bg-theme-dark-950 dark:text-theme-dark-50 dim:bg-theme-dim-950 dim:text-theme-dim-50 z-20 font-semibold;
}

.select-options-list .select-list-option.is-selected .select-list-option__label {
	@apply border-theme-primary-50 dim:border-theme-dim-50 dim:border-theme-dim-50 dark:border-black;
}

.select-options-list .select-list-option.is-selected + .select-list-option .select-list-option__label {
	@apply border-transparent;
}

.select-options-list .select-list-option.is-empty {
	@apply cursor-default;
}

.tab-list > .tab-button {
	@apply cursor-pointer;
}

.tab-list > .tab-button[aria-selected="true"] {
	@apply text-theme-secondary-900 dark:bg-theme-dark-800 dark:text-theme-dark-50 disabled:text-theme-secondary-500 dark:disabled:text-theme-secondary-700 dim:text-theme-dim-50 dim:bg-theme-dim-800 bg-white;
}

.tab-list > .tab-button[aria-selected="false"] {
	@apply text-theme-secondary-700 hover:bg-theme-secondary-300 hover:text-theme-secondary-900 dark:text-theme-dark-200 dark:hover:bg-theme-dark-900 dark:hover:text-theme-dark-50 disabled:text-theme-secondary-500 dark:disabled:text-theme-secondary-700 dim:text-theme-dim-200 dim-hover:bg-theme-dim-900 dim-hover:text-theme-dim-50;
}

.add-recipient-wrapper .select-buttons div:first-of-type button {
	@apply rounded-tr-none rounded-br-none;
}

.add-recipient-wrapper .select-buttons div:last-child button {
	@apply rounded-tl-none rounded-bl-none;
}

.add-recipient-wrapper .questionmark svg {
	@apply fill-theme-primary-100;
}

.add-recipient-wrapper .questionmark:hover svg {
	@apply fill-theme-primary-600;
}

.pagination-search-wrapper .search-form {
	@apply bg-theme-primary-100 dark:bg-theme-secondary-800 absolute top-0.5 left-0 z-10 flex w-full rounded-sm px-2 sm:top-0;
}

.pagination-search-wrapper .search-control {
	@apply text-theme-secondary-500 hover:text-theme-primary-600 dark:text-theme-secondary-200 py-2 pr-2 pl-2;
}

.search-input {
	@apply dark:text-theme-secondary-200 w-full appearance-none! border-none bg-transparent! p-2 leading-[17px] shadow-none!;
}

.search-input::-webkit-inner-spin-button,
.search-input::-webkit-outer-spin-button {
	@apply pointer-events-none hidden;
}

.pagination-search-toggle-button {
	@apply text-theme-primary-600 focus:ring-theme-primary-400 dark:text-theme-secondary-200 dim:text-theme-dim-200 sm:hover:bg-theme-primary-600 sm:dim-hover:bg-theme-dim-navy-700 sm:dim-hover:text-theme-dim-50 relative flex w-full cursor-pointer flex-nowrap items-center justify-center p-1.5 px-4 focus:rounded-sm focus:ring-2 focus:outline-hidden sm:hover:rounded-sm sm:hover:text-white;
}

.pagination-button {
	@apply text-theme-primary-600 dark:text-theme-secondary-200 inline-flex cursor-pointer items-center justify-center px-2 text-center text-base font-semibold transition-all duration-100 ease-linear;
}

.pagination-button:not(:disabled):hover {
	@apply bg-theme-primary-600 scale-110 rounded-sm text-white shadow-[2px_3px_10px_2px_rgba(var(--theme-color-primary-600)_0.2)];
}

.pagination-button.current-page {
	@apply bg-theme-primary-500 dark:bg-theme-secondary-600 dark:text-theme-secondary-200 text-white;
}

.pagination-button:focus {
	@apply ring-theme-primary-400 rounded-sm ring-2 outline-hidden;
}

.pagination-wrapper {
	@apply flex flex-col sm:h-8 sm:flex-row sm:space-x-2;
}
