html {
	height: -webkit-fill-available;
}

body {
	-webkit-tap-highlight-color: transparent;
	@apply font-sans text-base antialiased min-h-screen flex flex-col;
	/* mobile viewport bug fix */
	min-height: -webkit-fill-available;
}

#root {
	@apply flex flex-col flex-1;
}
main {
	@apply bg-theme-background text-theme-text flex-1;
}


.link {
	@apply cursor-pointer transition-colors duration-100 ease-linear text-theme-primary-600;
}

.link:hover {
	@apply text-theme-primary-500;
}

.important\:bottom-8 {
	bottom: 2rem !important;
}

.important\:z-0 {
	z-index: 0 !important;
}

.important\:block {
	display: block !important;
}

.important\:px-0 {
	padding-left: 0 !important;
	padding-right: 0 !important;
}

.no-ligatures {
	font-feature-settings: "liga" off, "calt" off;
}

@layer utilities {
	.overflow-overlay {
		overflow: overlay;
	}

	.filter-grayscale {
		filter: grayscale(1);
	}
}

.welcome-slider-dots .slick-active > button {
	@apply bg-theme-navy-500 border-transparent hover:bg-theme-navy-500
}

.with-x-padding > table > tbody > tr:not(:last-child) td:first-child::after {
	@apply content-[''] w-6 block bg-theme-background h-full absolute left-0
}

.with-x-padding > table > tbody > tr:not(:last-child) td:last-child::after {
	@apply content-[''] w-6 block bg-theme-background h-px absolute right-0
}
