input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-background-clip: text;
}

.dark input:-webkit-autofill,
.dark input:-webkit-autofill:hover,
.dark input:-webkit-autofill:focus,
.dark input:-webkit-autofill:active {
    -webkit-text-fill-color: var(--theme-color-secondary-200);
    -webkit-background-clip: text;
    -webkit-box-shadow: 0 0 0 0 #000 inset;
}
