@import 'react-loading-skeleton/dist/skeleton.css';

.react-loading-skeleton {
	z-index: 0;
}

.light .react-loading-skeleton {
	background-color: var(--theme-color-secondary-200);
}

.light .react-loading-skeleton::after {
	background-image: linear-gradient(
		90deg,
		var(--theme-color-secondary-200),
		var(--theme-color-secondary-100),
		var(--theme-color-secondary-200)
	);
}

.dark .react-loading-skeleton {
	background-color: var(--theme-color-secondary-800);
}

.dark .react-loading-skeleton:after {
	background-image: linear-gradient(
		90deg,
		var(--theme-color-secondary-800),
		#2a2f33,
		var(--theme-color-secondary-800)
	);
}

.dark.dim .react-loading-skeleton {
	background-color: var(--theme-color-dim-800);
}

.dark.dim .react-loading-skeleton:after {
	background-image: linear-gradient(
		90deg,
		var(--theme-color-dim-800),
		var(--theme-color-dim-700),
		var(--theme-color-dim-800)
	);
}
