@import "react-toastify/dist/ReactToastify.css";

@media (max-width: 768px) {
	.Toastify__toast-container {
		@apply inset-x-0 bottom-0 w-full! p-0;
	}

	.Toastify__toast {
		@apply border-theme-secondary-300 dark:border-theme-secondary-800 mb-0 border-b p-0;
		background: unset !important;
		color: unset;
	}
}

@media (min-width: 769px) {
	.Toastify__toast-container {
		@apply mr-10 mb-10 w-auto max-w-128 p-0;
		min-width: 20rem;
	}
}

.Toastify__toast {
	@apply min-w-full! cursor-default rounded-none shadow-none! md:min-w-[33rem]!;
	background: unset !important;
	color: unset;
}

.Toastify__toast:last-child {
	@apply mb-0 border-b-0;
}

.Toastify__toast-body {
	@apply overflow-hidden p-0;
}

.Toastify__toast-container--bottom-right {
	right: 0;
	bottom: 0;
}

@supports (padding-bottom: env(safe-area-inset-bottom)) {
	.Toastify__toast-container {
		padding-bottom: env(safe-area-inset-bottom);
	}
}
