@import "react-toastify/dist/ReactToastify.css";

@media (max-width: 768px) {
	.Toastify__toast-container {
		@apply w-full p-0 inset-x-0 bottom-0;
	}

	.Toastify__toast {
		@apply p-0 border-b border-theme-secondary-300 dark:border-theme-secondary-800 mb-0;
		background: unset;
		color: unset;
	}
}

@media (min-width: 769px) {
	.Toastify__toast-container {
		@apply max-w-128 w-auto p-0 mr-10 mb-10;
		min-width: 20rem;
	}
}

.Toastify__toast {
	@apply rounded-none shadow-none cursor-default;
	background: unset;
	color: unset;
}

.Toastify__toast:last-child {
	@apply mb-0 border-b-0;
}

.Toastify__toast-body {
	@apply p-0 overflow-hidden;
}

.Toastify__toast-container--bottom-right {
	right: 0;
	bottom: 0;
}

@supports (padding-bottom: env(safe-area-inset-bottom)) {
	.Toastify__toast-container {
		padding-bottom: env(safe-area-inset-bottom);
	}
}
