@import "tippy.js/dist/tippy.css";

.tippy-box {
	font-feature-settings:
		"liga" off,
		"calt" off;
	max-width: 96%;
	max-width: calc(100% - 20px);
	@apply font-semibold;
}

@media (min-width: 1024px) {
	.tippy-box {
		max-width: 600px;
		@apply break-words;
	}
}

.tippy-box[data-theme~="light"] {
	background-color: var(--theme-color-secondary-900);
	color: var(--theme-white);
}

.tippy-box[data-theme~="light"] .tippy-arrow {
	color: var(--theme-color-secondary-900);
}

.tippy-box[data-theme~="dark"] {
	background-color: var(--theme-color-secondary-700);
	color: var(--theme-color-secondary-200);
}

.tippy-box[data-theme~="dark"] .tippy-arrow {
	color: var(--theme-color-secondary-700);
}

.tippy-box[data-theme~="dim"] {
	background-color: var(--theme-color-dim-700);
	color: var(--theme-color-dim-50);
}

.tippy-box[data-theme~="dim"] .tippy-arrow {
	color: var(--theme-color-dim-700);
}
