:root {
	/* 9999 for tippy, 10000,10001 for blurred overlay, 10003 for toast */
	--toastify-z-index: 10003 !important;

	--theme-white: #ffffff;
	--theme-black: #121213;

	--theme-color-secondary-rgb: 165, 173, 185;
	--theme-color-secondary-50: #fcfdfd;
	--theme-color-secondary-100: #f7fafb;
	--theme-color-secondary-200: #eef3f5;
	--theme-color-secondary-300: #dbdee5;
	--theme-color-secondary-400: #c4c8cf;
	--theme-color-secondary-500: #a5adb9;
	--theme-color-secondary-600: #7e8a9c;
	--theme-color-secondary-700: #637282;
	--theme-color-secondary-800: #3c4249;
	--theme-color-secondary-900: #212225;
	--theme-color-secondary-900-rgb: 33, 34, 37;

	--theme-color-dark-50: #e3e8ea;
	--theme-color-dark-100: #cad2d7;
	--theme-color-dark-200: #a4b1bc;
	--theme-color-dark-300: #788a98;
	--theme-color-dark-400: #5d6f7d;
	--theme-color-dark-500: #505d6a;
	--theme-color-dark-600: #454f59;
	--theme-color-dark-700: #3d444d;
	--theme-color-dark-800: #363b43;
	--theme-color-dark-900: #23272d;
	--theme-color-dark-950: #191d22;

	--theme-color-dim-50: #E8EBF6;
	--theme-color-dim-100: #CBD6EC;
	--theme-color-dim-200: #9EB3DB;
	--theme-color-dim-300: #6A8CC6;
	--theme-color-dim-400: #476DB0;
	--theme-color-dim-500: #355594;
	--theme-color-dim-600: #2C4478;
	--theme-color-dim-700: #283C64;
	--theme-color-dim-800: #253355;
	--theme-color-dim-900: #171F34;
	--theme-color-dim-950: #101627;

	--theme-color-dark-navy-50: #eff6ff;
	--theme-color-dark-navy-100: #dceafd;
	--theme-color-dark-navy-200: #c1dbfc;
	--theme-color-dark-navy-300: #96c5fa;
	--theme-color-dark-navy-400: #539bf5;
	--theme-color-dark-navy-500: #4082f1;
	--theme-color-dark-navy-600: #2a64e6;
	--theme-color-dark-navy-700: #224fd3;
	--theme-color-dark-navy-800: #2242ab;
	--theme-color-dark-navy-900: #213b87;
	--theme-color-dark-navy-950: #192652;

	--theme-color-dim-navy-50: #EFF8FF;
	--theme-color-dim-navy-100: #DAEEFF;
	--theme-color-dim-navy-200: #BEE3FF;
	--theme-color-dim-navy-300: #91D2FF;
	--theme-color-dim-navy-400: #5EB8FC;
	--theme-color-dim-navy-500: #3898F9;
	--theme-color-dim-navy-600: #2079EE;
	--theme-color-dim-navy-700: #1A64DB;
	--theme-color-dim-navy-800: #1C51B1;
	--theme-color-dim-navy-900: #1C468C;
	--theme-color-dim-navy-950: #162B55;

	--theme-color-success-rgb: 40, 149, 72;
	--theme-color-success-50: #f0fdf4;
	--theme-color-success-100: #e2f0e6;
	--theme-color-success-200: #b0dbbc;
	--theme-color-success-300: #8cc69d;
	--theme-color-success-400: #60c07c;
	--theme-color-success-500: #42b263;
	--theme-color-success-600: #289548;
	--theme-color-success-700: #307845;
	--theme-color-success-800: #2b4f35;
	--theme-color-success-900: #26372b;

	--theme-color-warning-rgb: 255, 174, 16;
	--theme-color-warning-50: #fff8eb;
	--theme-color-warning-100: #ffe6b8;
	--theme-color-warning-200: #ffd486;
	--theme-color-warning-300: #ffc359;
	--theme-color-warning-400: #feb933;
	--theme-color-warning-500: #ffae10;
	--theme-color-warning-600: #fc9f0f;
	--theme-color-warning-700: #f88e0d;
	--theme-color-warning-800: #f27c0b;
	--theme-color-warning-900: #ec5c08;

	--theme-color-danger-rgb: 201, 41, 44;
	--theme-color-danger-50: #fff5f2;
	--theme-color-danger-100: #ffdfda;
	--theme-color-danger-200: #feb8ae;
	--theme-color-danger-300: #ef7c6d;
	--theme-color-danger-400: #de5846;
	--theme-color-danger-500: #c9292c;
	--theme-color-danger-600: #b01e20;
	--theme-color-danger-700: #881a1b;
	--theme-color-danger-800: #5b1b1b;
	--theme-color-danger-900: #391919;

	--theme-color-hint-rgb: 91, 89, 220;
	--theme-color-hint-50: #f5f5ff;
	--theme-color-hint-100: #e5e5ff;
	--theme-color-hint-200: #d6d5ff;
	--theme-color-hint-300: #9c9aff;
	--theme-color-hint-400: #6e6cef;
	--theme-color-hint-500: #5b59dc;
	--theme-color-hint-600: #5452ce;
	--theme-color-hint-700: #4745b0;
	--theme-color-hint-800: #363383;
	--theme-color-hint-900: #212052;

	--theme-color-info-rgb: 0, 125, 255;
	--theme-color-info-50: #f5faff;
	--theme-color-info-100: #e0ecf5;
	--theme-color-info-200: #bad6f0;
	--theme-color-info-300: #99c7ee;
	--theme-color-info-400: #77b9fe;
	--theme-color-info-500: #3e9dff;
	--theme-color-info-600: #007dff;
	--theme-color-info-700: #075af2;
	--theme-color-info-800: #0b4dc7;
	--theme-color-info-900: #173e85;

	--theme-color-primary-rgb: var(--theme-color-navy-rgb);
	--theme-color-primary-50: var(--theme-color-navy-50);
	--theme-color-primary-100: var(--theme-color-navy-100);
	--theme-color-primary-200: var(--theme-color-navy-200);
	--theme-color-primary-300: var(--theme-color-navy-300);
	--theme-color-primary-400: var(--theme-color-navy-400);
	--theme-color-primary-500: var(--theme-color-navy-500);
	--theme-color-primary-600: var(--theme-color-navy-600);
	--theme-color-primary-700: var(--theme-color-navy-700);
	--theme-color-primary-800: var(--theme-color-navy-800);
	--theme-color-primary-900: var(--theme-color-navy-900);

	--theme-color-primary-reverse-50: var(--theme-color-success-50);
	--theme-color-primary-reverse-100: var(--theme-color-success-100);
	--theme-color-primary-reverse-200: var(--theme-color-success-200);
	--theme-color-primary-reverse-300: var(--theme-color-success-300);
	--theme-color-primary-reverse-400: var(--theme-color-success-400);
	--theme-color-primary-reverse-500: var(--theme-color-success-500);
	--theme-color-primary-reverse-600: var(--theme-color-success-600);
	--theme-color-primary-reverse-700: var(--theme-color-success-700);
	--theme-color-primary-reverse-800: var(--theme-color-success-800);
	--theme-color-primary-reverse-900: var(--theme-color-success-900);
}

.light {
	--theme-background-color: var(--theme-white);
	--theme-secondary-background-color: var(--theme-color-secondary-100);

	--theme-text-color: var(--theme-color-secondary-900);
	--theme-secondary-text-color: var(--theme-color-secondary-700);

	--theme-scrollbar-color: var(--theme-color-primary-100);
	--theme-scrollbar-hover-color: var(--theme-color-primary-100);

	--theme-shadow-color: 0, 0, 0;

	--theme-danger-info-text: #a56d4c;
	--theme-danger-info-background: #fbeed6;
	--theme-danger-info-border: #f6dfb5;

	--theme-shadow-opacity-xs: 0.05;
	--theme-shadow-opacity-sm: 0.05;
	--theme-shadow-opacity-base-primary: 0.1;
	--theme-shadow-opacity-base-secondary: 0.06;
	--theme-shadow-opacity-md-primary: 0.1;
	--theme-shadow-opacity-md-secondary: 0.06;
	--theme-shadow-opacity-lg-primary: 0.1;
	--theme-shadow-opacity-lg-secondary: 0.05;
	--theme-shadow-opacity-xl-primary: 0.1;
	--theme-shadow-opacity-xl-secondary: 0.04;
	--theme-shadow-opacity-2xl: 0.25;
	--theme-shadow-opacity-inner: 0.06;

	--theme-color-navy-rgb: 67, 129, 192;
	--theme-color-navy-50: #f2f6fa;
	--theme-color-navy-100: #e6eff9;
	--theme-color-navy-200: #b6d7f8;
	--theme-color-navy-300: #8ac0f6;
	--theme-color-navy-400: #5ca4ec;
	--theme-color-navy-500: #4381c0;
	--theme-color-navy-600: #235b95;
	--theme-color-navy-700: #154a82;
	--theme-color-navy-800: #073769;
	--theme-color-navy-900: #062a50;
}

.dark {
	--theme-background-color: var(--theme-color-dark-900);
	--theme-secondary-background-color: var(--theme-black);

	--theme-text-color: var(--theme-color-secondary-200);
	--theme-secondary-text-color: var(--theme-color-secondary-500);

	--theme-scrollbar-color: var(--theme-color-secondary-700);
	--theme-scrollbar-hover-color: var(--theme-color-secondary-700);

	--theme-shadow-color: 18, 18, 19;

	--theme-danger-info-text: #CAA0A0;
	--theme-danger-info-border: #AB8282;

	--theme-shadow-opacity-xs: 0.6;
	--theme-shadow-opacity-sm: 0.6;
	--theme-shadow-opacity-base-primary: 0.6;
	--theme-shadow-opacity-base-secondary: 0.6;
	--theme-shadow-opacity-md-primary: 0.6;
	--theme-shadow-opacity-md-secondary: 0.6;
	--theme-shadow-opacity-lg-primary: 0.6;
	--theme-shadow-opacity-lg-secondary: 0.6;
	--theme-shadow-opacity-xl-primary: 0.6;
	--theme-shadow-opacity-xl-secondary: 0.6;
	--theme-shadow-opacity-2xl: 0.6;
	--theme-shadow-opacity-inner: 0.6;

	--theme-color-navy-rgb: 35, 145, 231;
	--theme-color-navy-50: #e0f1ff;
	--theme-color-navy-100: #c5e5ff;
	--theme-color-navy-200: #9bd0fb;
	--theme-color-navy-300: #72bffb;
	--theme-color-navy-400: #45a2eb;
	--theme-color-navy-500: #2391e7;
	--theme-color-navy-600: #0d7ed6;
	--theme-color-navy-700: #0e6cb5;
	--theme-color-navy-800: #0e5790;
	--theme-color-navy-900: #1a486b;
}


.dark.dim {
	--theme-background-color: var(--theme-color-dim-900);
	--theme-secondary-background-color: var(--theme-black);

	--theme-text-color: var(--theme-color-dim-50);
	--theme-secondary-text-color: var(--theme-color-dim-200);

	--theme-scrollbar-color: var(--theme-color-secondary-700);
	--theme-scrollbar-hover-color: var(--theme-color-secondary-700);

	--theme-shadow-color: 18, 18, 19;

	--theme-danger-info-text: #f39b9b;
	--theme-danger-info-border: #aa6868;

	--theme-shadow-opacity-xs: 0.6;
	--theme-shadow-opacity-sm: 0.6;
	--theme-shadow-opacity-base-primary: 0.6;
	--theme-shadow-opacity-base-secondary: 0.6;
	--theme-shadow-opacity-md-primary: 0.6;
	--theme-shadow-opacity-md-secondary: 0.6;
	--theme-shadow-opacity-lg-primary: 0.6;
	--theme-shadow-opacity-lg-secondary: 0.6;
	--theme-shadow-opacity-xl-primary: 0.6;
	--theme-shadow-opacity-xl-secondary: 0.6;
	--theme-shadow-opacity-2xl: 0.6;
	--theme-shadow-opacity-inner: 0.6;

	--theme-color-navy-rgb: 35, 145, 231;
	--theme-color-navy-50: #e0f1ff;
	--theme-color-navy-100: #c5e5ff;
	--theme-color-navy-200: #9bd0fb;
	--theme-color-navy-300: #72bffb;
	--theme-color-navy-400: #45a2eb;
	--theme-color-navy-500: #2391e7;
	--theme-color-navy-600: #0d7ed6;
	--theme-color-navy-700: #0e6cb5;
	--theme-color-navy-800: #0e5790;
	--theme-color-navy-900: #1a486b;
}