#launcher {
	display: none;
}

.widget h1 {
	color: #eef3f5;
}

.widget footer {
	border: none;
}

.widget a {
	visibility: hidden;
}

.widget svg:first-child path {
	stroke: #eef3f5;
}

.widget-dark form,
.widget-dark [data-embed="ticketSubmissionForm"] > div {
	background-color: #212225;
}

.widget-dark form input,
.widget-dark form textarea {
	background-color: #212225;
	border-color: #637282;
	color: #eef3f5 !important;
}

.widget-dark form label {
	color: #a5adb9;
}

.widget-dark #dropzone-input,
.widget-dark #attachmentButtonDescription {
	background-color: #3c4249 !important;
	border: none;
	color: #a5adb9;
}

.widget button[type="submit"],
.widget button[type="submit"]:hover {
	color: #eef3f5 !important;
	font-weight: bold;
}

.widget-dark h2 {
	font-size: 1.5rem;
}

.widget-dark h2,
.widget-dark h2:hover,
.widget-dark p {
	color: #a5adb9 !important;
}

.widget-dark #Layer_2 {
	display: none;
}

.widget-dark .kJiivj:not([disabled]) {
	padding: 1rem;
	line-height: 1px !important;
	border-radius: 3px;
	background-color: #3c4249 !important;
	color: #eef3f5 !important;
}
