name: Build

on:
    pull_request:
        types: [ready_for_review, synchronize, opened]

jobs:
    dist:
        runs-on: ubuntu-latest

        strategy:
            matrix:
                node-version: [20.12.2]

        steps:
            - uses: actions/checkout@v4
              with:
                  ref: ${{ github.head_ref }}
                  token: ${{ secrets.GH_TOKEN }}

            - uses: pnpm/action-setup@v4
              with:
                  version: 9

            - uses: actions/setup-node@v4
              with:
                  node-version: ${{ matrix.node-version }}
                  cache: pnpm

            - name: Update System
              run: sudo apt-get update

            - name: Install
              run: pnpm install -no-frozen-lockfile

            - name: Build
              env:
                  NODE_OPTIONS: "--max_old_space_size=8192"
              run: ZENDESK_WIDGET_KEY=${{ secrets.ZENDESK_WIDGET_KEY }} pnpm run build

            - uses: stefanzweifel/git-auto-commit-action@v4
              with:
                  commit_message: "chore: build distribution files"
                  branch: ${{ github.head_ref }}
